@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #49d3ba;
  font-family: 'Ubuntu', sans-serif;
}

h1{
  text-align: center;
  font-size: xx-large;
  margin-bottom: 30px;
  text-decoration:underline;

}

ul{
  text-align: left;
  font-size: large;
  margin-left: 45%;
  margin-top: 40px;
  margin-bottom: 40px;
}

img{
  margin-left: 35%;
  width: 30%;
  height: 30%;
  margin-bottom: 10px;
}

p{
  font-size: larger;
  margin: 100px;
}

h2{
  font-size: medium;
  text-align: center;
}

a:hover{
  cursor: pointer;
}

.volver{
  font-size: x-large;
  margin-left: 50%;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  background-color: #4aa2d4;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px black solid;
  border-radius: 15px;
  transition: 0.2s;
}

.volver:hover{
  color: #ffffff;
  background-color: #0b4b3f;
}