.titulo{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.slider-container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-x: scroll;

    scroll-snap-type: x mandatory;
  }
  
  .slider-container img {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;

    scroll-snap-type: x mandatory;
  }